:root {
  --main-color: #a2836e;
  --secondary-color: #674d3c;
  --third-color: #d9ad7c;
  --fourth-color: #e1e1e1;
  --message-color: #000000;
  --admin-color: #fff2df;
  --placeholder-color: #ffc0cb;
  --error-color: #ff6347;

  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --chat-footer-height: 58px;
  --chat-footer-height-mobile: 148px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tahoma", sans-serif, monospace;
  font-weight: 300;
  font-size: 0.95rem;
}

ul,
li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}
label,
h3 {
  color: var(--admin-color);
}
.btn {
  border: none;
  background: var(--secondary-color);
  color: var(--admin-color);
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s ease;
}
.btn:hover {
  background: var(--third-color);
  padding: 10px;
}

time {
  font-size: 0.7rem;
}
.lang {
  margin-top: 10px;
}

/*---------- form ----------*/
.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: var(--third-color);
}
.enter {
  flex: auto;
  display: flex;
  align-items: center;
}
.centered-form__form {
  background: var(--main-color);
  border: 1px solid var(--fourth-color);
  border-radius: 5px;
  padding: 0 20px;
  width: 230px;
}

.form-field {
  margin: 20px 0;
  input,
  select {
    border: 1px solid var(--fourth-color);
    padding: 10px;
  }
  label {
    display: block;
    margin-bottom: 7px;
  }
}

.form-field > * {
  width: 100%;
}

/*---------- validation ----------*/
.error {
  background: var(--error-color);
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--placeholder-color);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--placeholder-color);
}

/*---------- chat room ----------*/
.chat {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  background: var(--third-color);
  overflow-y: hidden;
}
.chat__sidebar {
  grid-column: 1 / 2;
  overflow-y: auto;
  height: fit-content;
  flex-shrink: 1;
}

.chat__sidebar-item {
  color: var(--admin-color);
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.chat__main {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

.chat__messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - var(--chat-footer-height));
  overflow-y: auto;
  list-style-type: none;
  margin-top: 5px;
  -webkit-overflow-scrolling: touch;
}
.chat__btn {
  margin-right: 10px;
}
.chat__footer {
  grid-column: 1 / -1;
  background: var(--main-color);
  display: flex;
  padding: 10px;
}

.message__form {
  flex-grow: 1;
  display: flex;
  margin-right: 10px;
  .btn {
    margin-left: 10px;
  }
}

.message__form-input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

.message {
  padding: 10px;
  margin-bottom: 5px;
  color: var(--admin-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.left,
.right {
  max-width: 50%;
  width: 100%;
}
.left {
  align-self: start;
}
.right {
  align-self: end;
}

.message__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  h4 {
    font-weight: 600;
    margin-right: 10px;
    flex: 1 0;
  }
}

.admin {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 0.7rem;
  box-shadow: none;
}

.footer {
  color: var(--secondary-color);
  line-height: 1.42;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  h3 {
    font-size: 1.2rem;
  }
  .chat__sidebar-item {
    font-size: 1rem;
  }

  .chat__btn {
    grid-column: span 4;
    order: 3;
  }
  .chat__sidebar {
    grid-column: 1 / 2;
  }
  .chat__main {
    grid-column: 2 / -1;
  }
  .chat__messages {
    height: calc(100vh - var(--chat-footer-height-mobile));
  }
  .chat__footer {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
  }
  .chat__footer .chat__btn {
    margin: 10px 0px 0px 0px;
  }
  .left,
  .right {
    max-width: 100%;
  }
  .message__form {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
@media (max-width: 470px) {
  * {
    font-size: 0.9rem;
  }
}
